<div class="jumbotron">
  <h1>Hello, coffee lovers!</h1>
  <p>This is a simple chat app. You should just jump right in.</p>
  <p>{{#link-to 'messages.new' class="btn btn-primary btn-lg"}}Get Chatting{{/link-to}}</p>
</div>